<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event_owner from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id ="signup-form">
  <div class="field">
    <%= f.label :name, "Your Name" %><br>
    <%= f.text_field :name %>
  </div>
  <% if current_user.nil? %>
  <div class="field">
    <%= f.label :email, "Email Address" %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :event_name, "Event Name" %><br>
    <%= f.text_field :event_name %>
  </div>
  <div class="field">
    <%= f.label :description, "Description" %><br>
    <%= f.text_area :description, width: "400" %>
  </div>
  <div class="field">
    <%= f.label :from_event, "Time event starts" %><br>
    <%= f.datetime_select :from_event, :ampm => true, :minute_step => 15  %>
  </div>
  <div class="field">
    <%= f.label :to_event, "Time event ends" %><br>
    <%= f.datetime_select :to_event, :ampm => true, :minute_step => 15  %>
  </div>
  <div class="field">
    <%= f.label :location, "Location of event" %><br>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :ticket_price, "Ticket Price" %><br>
    <%= f.number_field :ticket_price %>
  </div>
  <div class="actions">
    <%= f.submit "Create Event", :class => "btn btn-primary" %>
  </div>
  </div>
<% end %>
